# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (raw / large)
data/raw/

# Keep artifacts folder allowed, but ignore large binary files inside it
# (so CSVs will be tracked, joblib/pkl will remain ignored)
# artifacts/

# Models & heavy binaries (still ignored)
models/
*.joblib
*.pkl

# Power BI: allow folder contents but ignore pbix files (too large)
# powerbi/*.pbix
*.pbix

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Secrets
.env
