# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (raw / large)
data/raw/
artifacts/
models/
*.joblib
*.pkl

# Power BI large files (optional)
powerbi/*.pbix

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Secrets
.env
